button {
    height: 50px;
    width: fit-content;
    border: none;
    padding: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

#sketchHolder {
    position: absolute;
    z-index: -100;
}

#content {
    margin-top: 10%;
    color: white;
}

#help {
    font-size: large;
    color: white;
}